.operation{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.select{
    width: 250px !important;
}
.picker{
    width: 400px !important;
}
.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    span{
        margin-bottom: 16px;
    }
}


.contentTitle{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.show{
    height: 18px;
    width: 4px;
    background-color: #1890FF;
    margin-right: 8px;
}