.operation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.btn{
    margin-right: 16px;
}

.tags{
    display: flex;
    flex-direction: row;
    align-items: center;
    span{
        margin-right: 8px;
    }
}

.card{
    flex: 0 0 24%;
    :global{
        .ant-card-cover{
            padding: 1px !important;
        }
    }
}

.cardContainer{
    display: flex;
    justify-content: space-between;
}

.select{
    width: 250px !important;
}