.three{
    // border: 2px solid #ccc;
    width: 1600px;
    height: 800px;
    overflow: hidden;
    flex: 1;
}
.alert{
    margin-bottom: 16px;
    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: row;
}

.operation{
    flex: 0 0 350px;
    margin-left: 16px;
}

.contentTitle{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.show{
    height: 18px;
    width: 4px;
    background-color: #1890FF;
    margin-right: 8px;
}
