.operation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.btn{
    margin-right: 16px;
}

.select{
    width: 250px !important;
}
.picker{
    width: 400px !important;
}